<div class="container">
    <div class="infowindow">
        <h4><%= user.brand %></h4>
        <p><%= user.address %></p>
        <h6><%= link_to 'Conheça este produtor', producer_path(user), style:'text-decoration: none; color:white;' %></h6>
    </div>
</div>
