<%= render 'shared/carousel' %>



<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>

<h2 class="mt-3" style="font-family: 'Dancing Script', cursive; text-align: center;">Apoie produtores locais</h2>


<div class="container">
  <div class="cards" >
    <% if not @products.empty? %>
      <% products_categories = [] %>
      <% @products.each do |product| %>
        <% if not products_categories.include?(product.category) %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1562601579-599dec564e06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
            <p style="color: white"><%= link_to product.category, category_path(product.category) %></p>
          </div>
        <% end %>
          <% products_categories << product.category %>
      <% end %>
    <% end %>

   </div>
</div>


<div class="container justify-content-center">
    <%= link_to 'Produtos', products_path, class:'btn btn-outline-secondary mt-3'  %>
</div>

<%= render 'shared/map' %>
