<div class="category-submenu ">
  <div class="submenu-outer">
    <div class="submenu-inner cf">
      <ul class="level10 product-nav" style="width: 100%;">
        <% if not @products.empty? %>
        <% products_categories = [] %>
        <% @products.each do |product| %>
        <% if not products_categories.include?(product.category) %>
          <li style="text-decoration: none;">|<%= link_to product.category.name, category_path(product.category.name), style:'text-decoration: none; color:black;' %></li>
          <% products_categories << product.category %>
        <% end %>
      <% end %>
      |</ul>
    <% end %>
    </div>
  </div>
</div>

<%= render 'shared/carousel' %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>
<h1 class='mt-5' style="font-family: 'Dancing Script', cursive; text-align: center;">Direto da Origem</h1>

<%= render 'shared/map' %>

<h1 class='my-3' style="font-family: 'Dancing Script', cursive; text-align: center;">Apoie produtores locais</h1>
