<%= render 'shared/carousel' %>



<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>

<h2 class="mt-3" style="font-family: 'Dancing Script', cursive; text-align: center;">Apoie produtores locais</h2>


<div class="container">
  <div class="row" >
    <% if not @products.empty? %>
      <% products_categories = [] %>
      <% @products.each do |product| %>
        <% if not products_categories.include?(product.category) %>
          <div class="card-category col  m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <a href="#" style="color: white;"><%= product.category %></a>
          </div>
        <% end %>
          <% products_categories << product.category %>
      <% end %>
    <% end %>

   </div>
</div>

