<div class="category-container ">
  <div class="submenu-outer">
    <div class="submenu-inner cf">
      <ul class="level10 product-nav" style="width: 100%;">
        <% @products.each do |product| %>
            <li><%= link_to product.category.name, category_path(product.category.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'shared/carousel' %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>
<h1 class='mt-5' style="font-family: 'Dancing Script', cursive; text-align: center;">Direto da Origem</h1>

<%= render 'shared/map' %>

<h1 style="font-family: 'Dancing Script', cursive; text-align: center;">Apoie produtores locais</h1>
