<div class="container">
  <h1>Editar</h1>

<%= simple_form_for @cart do |f| %>
  <%= f.input :quantity, input_html: { min: '1', step: 'any' }, label: 'Quantidade' %>
  <%= f.button :submit, 'Criar carrinho', class:"btn btn-outline-secondary" %>
<% end %>


</div>
