<div class="container mt-4 bg-white">
  <h2 class="pt-3">Editar</h2>

  <%= simple_form_for @cart do |f| %>
    <%= f.input :quantity, input_html: { min: '1', step: 'any' }, label: 'Quantidade' %>
    <p class="pb-3">
      <%= f.button :submit, 'Criar carrinho', class:"btn btn-outline-info" %>
    </p>
  <% end %>
</div>
