<div class="container mt-4 bg-white">
  <h2>Complete seu perfil</h2>

  <%= simple_form_for @producer, url: producers_path, method: :post do |f| %>
    <%= f.input :address, label: 'Endereço',
                required: true,
                autofocus: true %>
    <%= f.input :brand, label: 'Marca',
                required: true,
                autofocus: true %>
    <%= f.button :submit, "Completar perfil", class:"btn btn-outline-info mr-3" %>
  <% end %>
</div>
