.mapboxgl-popup {
  max-height: 100px;
  max-width: 100px;
}
  
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  width: 200px;
  max-height: 200px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  background-color: #FFFCF7;
}

.infowindow h4 {
  text-align: left;
  color: #92983b;
  padding: 4px;
  font-weight: bold;
}

.infowindow p {
  text-align: left;
  font-weight: bold;
}

.infowindow h6 {
  text-align: center;
  background-color: #E28A3D;
  color: white;
  padding: 5px;
  border-radius: 6px;
}

