.category-submenu .submenu-outer {
  width: inherit;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.category-submenu {
  position: relative;
  background: #92983b;
  display: flex;
  padding: 0 10px;
  height: 50px;
  align-items: center;
  font-weight: bold;
}

div {
  display: block;
}

.submenu-inner {
  position: relative;
}

.cf {
  zoom: 1;
}

.category-submenu ul.level0 {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-decoration: none;
}

.category-submen li {
  padding: 0 0 0 30px;
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  line-height: 2;
  display: inline;
  color: white;
  text-decoration: none;
  
}

.level10 li {
  font-weight: 500;
}

.level10 li :hover {
  font-weight: 900;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  text-align: center;
}
